body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 85px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#favoritePanel {
  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 2;
}

#searchPanel1 {
  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 2;
  font-size: 14px;
  font-family: 'Consolas';
  color: white;
  width: 45%;
  height: 40px;
  margin: 0;
}
#searchPanel2 {
  position: absolute;
  top: 110px;
  right: 10px;
  z-index: 2;
  font-size: 14px;
  font-family: 'Consolas';
  color: white;
  width: 45%;
  height: 40px;
  margin: 0;
}

#navPaner {
  position: absolute;
  top: 370px;
  left: 10px;
  z-index: 2;
  height: 60%;
  width: 200px;
  overflow: auto;
  font-family: 'Consolas','sans-serif';
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
  visibility: hidden;
  background-color: white;
}
